.home {
  display: flex;
  flex-direction: column;
  margin: 30px calc(100% - 90%);

  .timeUpdate {
    margin-bottom: 1rem;
    p {
      text-align: center;
      font-size: 1rem;
    }
  }
  
  .latest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
    h1 {
      text-align: center;
      border-bottom: 4px solid var(--orange);
      font-weight: 900;
    }
  }

  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    select {
      border: 2px solid var(--grey);
      border-radius: 7px;
      color: var(--grey);
      font-size: 17px;
      font-weight: 500;
      padding: 5px;
    }
  }
}
