@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

:root {
  --font: 'Reem Kufi Ink', sans-serif;
  --nav-Gradient: linear-gradient(to right, #255ca3, #f58220);

  --white: #fff;
  --wsr: #facc00;
  --rao: #122883;
  --gw: #369128;
  --wm: #781999;
  --orange: #F5931D;
  --grey: #999999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
