@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

:root {
  --font: 'Reem Kufi Ink', sans-serif;
  --nav-Gradient: linear-gradient(to right, #255CA3, #F58220);

  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}
